NODE_ENV=development

# Database
POSTGRES_USER=doktorgo
POSTGRES_PASSWORD=doktorgo
POSTGRES_DB=doktorgo

# JWT
JWT_SECRET=doktorgo-dev-secret-key
JWT_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:3000

# Backend
BACKEND_PORT=3000

# Frontend
FRONTEND_PORT=3001